/* Extend bootstrap's built in class */

.help-block-label {
  font-weight: bold;
}

.deleteitem
{
    height: 16px;
    width: 16px;
    border: 0;
}
.animate-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  opacity:1;
  left:0;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}
 
.animate-show.ng-hide {
  opacity:0;
   left: -10%;
}

.stuff-to-show {
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
 max-height: 2000px;
}

.stuff-to-show.ng-hide > table
{
    opacity: 0;
    -webkit-transition: all ease .9s;
  transition: all ease .9s;
}

.stuff-to-show.ng-hide {
  max-height:  0px;
}
.stuff-to-show.ng-hide-add,
.stuff-to-show.ng-hide-remove {
  display: block!important;
}

.listItem.ng-enter {
    opacity: 0;
    transition: all .5s ease;
}
.listItem.ng-enter-active {
    opacity: 1;
}
.listItem.ng-leave {
    opacity: 1;
    transition: all .5s ease;
}
.listItem.ng-leave-active {
    opacity: 0;
}

#btnAddProduct,
#btnVoidLastTxn,
#btnCancelSale,
#btnApplyEmpDiscount,
#btnApplyStateTax,
#currencySymbol {
  font-weight: bold;
  font-size: 1.25em;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}

#cartDisplay {
  margin-right: 25%;
}

.table-borderless > tr {
  border: none;
}


/*==========  Bootstrap 3 Media Queries: Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  .total-amount {
    font-weight: bold;
    font-size: 2em;
  }
  .item-display {
    font-weight: bold;
    font-size: 1em;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  .total-amount {
    font-weight: bold;
    font-size: 3em;
  }
  .item-display {
    font-weight: bold;
    font-size: 2em;
  }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  /* Add padding when viewed on large screens */
  .container-fluid {
    margin: auto;
    padding: 25px;
    padding-left: 5%;
    padding-right: 5%;
  }
  /* Product boxes */
  .product-inputs {
    padding-right: 5px;
    padding-left: 5px;
    width: auto;
  }
  .product-inputs-left {
    padding-right: 0;
    width: auto;
  }
  .product-inputs-right {
    padding-left: 0;
  }
  .total-amount {
    font-weight: bold;
    font-size: 4em;
  }
  .item-display {
    font-weight: bold;
    font-size: 3em;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  /* Add padding when viewed on large screens */
  .container-fluid {
    margin: auto;
    padding: 25px;
    padding-left: 15%;
    padding-right: 15%;
  }
}